@model MYFEELIB.Entities.RequireElements
@{
    ViewData["Title"] = "Student Report";
}

<script type="text/jscript">
    function addDays(date, days) {
        var result = new Date(date);
        result.setDate(result.getDate() + days);
        return result;
    }

    function ToJavaScriptDate(value) {
        var pattern = /Date\(([^)]+)\)/;
        var results = pattern.exec(value);
        var dt = new Date(parseFloat(results[1]));
        return (dt.getMonth() + 1) + "/" + dt.getDate() + "/" + dt.getFullYear();

    }
</script>
<script type="text/jscript">

    $(document).ready(function () {
        $("#div_Batch").hide();

        $('input[type=radio][name=groupReporttype]').change(function () {
            if (this.value == "BAR") {
                $("#div_Year").hide();
                $("#div_Batch").show();
            }
            else if (this.value == "FYRLI") {
                window.location.href = "../Reports/TransactionReport?UT=Transaction Report";
            }
            else {
                $("#div_Year").show();
                $("#div_Batch").hide();
            }

        });
    });

    $(document).on("click", "#BtnGenerate", function () {
        debugger;
        var radReport = $('input[name="groupReporttype"]:checked').val();
        if (radReport == "BAR") {
            if ($("#Batch :selected").val() == "") {
                alert("Please Select Batch !");
                return;
            }
            var prm = radReport + '/' + $("#Batch :selected").val()
        }
        else {
            if ($("#YearCode :selected").val() == "") {
                alert("Please Select Financial Year !");
                return;
            }
            var prm = radReport + '/' + $("#YearCode :selected").val()
        }
        $("#ReportModal").modal('show');
        var route = '@Url.Action("GenerateAuditReports", "Reports")?Param=' + prm
        $('#Report_Form').load(route);

    });

    $(function () {

        $('#YearCode').change(function () {
            var id = $("#YearCode :selected").val();
            if (id != "") {
                $.ajax({
                    type: "GET",
                    contentType: "application/json; charset=utf-8",
                    url: '@Url.Action("FYDATES", "Reports")',
                    data: { "YearCode": id },
                    dataType: "json",
                    beforeSend: function () {
                        //alert(id);
                    },
                    success: function (data) {
                        //var items = "";
                        $.each(data, function (i, Year) {
                            var yourFromDateValue = new Date(ToJavaScriptDate(Year.StDate));
                            var yourEndDateValue = new Date(ToJavaScriptDate(Year.EndDate));


                            yourFromDateValue = addDays(yourFromDateValue, 1);
                            yourEndDateValue = addDays(yourEndDateValue, 1);

                            var formattedFromDate = yourFromDateValue.toISOString().substr(0, 10)
                            var formattedEndDate = yourEndDateValue.toISOString().substr(0, 10)



                            $('#PaymentDate').val(formattedFromDate);
                            $('#EntryDate').val(formattedEndDate);


                        });




                    },
                    error: function (result) {

                        alert('Service call failed: ' + result.status + ' Type :' + result.statusText);
                    }
                });
            }
            else {

            }
        });

    });



    var Clear = function () {

        $("#Program").val("");
        $("#ApproveType").val("");
        $("#ProcessMonth").val("");
        $("#PaymentDate").val("");
        $("#EntryDate").val("");
    }
</script>

<section id="" class="animated fadeInUp">
    <section class="fuelux" style="border: 0px solid #57bee0; margin: 50px 50px;">
        <div class="step-content" style="margin-bottom: 0px; background: #fff; text-align: center; border-top: 1px solid #D4D4D4;">
            <div class="step-pane active" id="step1">

                <div class="col-md-offset-0  preauth_font">
                    <div class="clear" style="clear: both;"></div>

                    <div class="form-group col-sm-12 col-md-6 col-lg-6 text-left ">
                        <label class="control-label" for="Select Type">Select Type Of Report</label>
                        <div id="groupReporttype">
                            <input type="radio" value="FYC" checked="checked" name="groupReporttype">Financial Year Closing<br>
                            <input type="radio" value="IS" name="groupReporttype">Intake Summary<br>
                            <input type="radio" value="IQS" name="groupReporttype">Intake Quota Summary<br>
                            <input type="radio" value="FYCB" name="groupReporttype">Financial Year Closing Balanace<br>
                            <input type="radio" value="FYCBS" name="groupReporttype">Financial Year Closing Balance Summary <br>
                            <input type="radio" value="FYRLI" name="groupReporttype">Financial Year Received Line Items<br>
                            <input type="radio" value="FYDSL" name="groupReporttype">Financial Year Due Student List<br>
                            <input type="radio" value="BR" name="groupReporttype">Budget Report<br>
                            <input type="radio" value="AR" name="groupReporttype">Academic Report<br>
                            <input type="radio" value="DT" name="groupReporttype">Due Total<br>
                            <input type="radio" value="RCB" name="groupReporttype">Refund Closing Balances<br>
                            <input type="radio" value="AFYDC" name="groupReporttype">All Financial Year Due Consolidate<br>
                            <input type="radio" value="BAR" name="groupReporttype">Batch Analysis Report<br>
                        </div>
                    </div>



                    <div class="form-group col-sm-12 col-md-6 col-lg-6 text-left " id="div_Year">
                        @Html.LabelFor(m => m.YearCode, new { @class = "control-label" })
                        <div>
                            @Html.DropDownListFor(m => m.YearCode, Model.YearCodes, "SELECT FINANCIAL YEAR",
                                              new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.YearCode, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group col-sm-12 col-md-6 col-lg-3 text-left " id="div_Batch">
                        @Html.LabelFor(m => m.Batch, new { @class = "control-label" })
                        <div>
                            @Html.DropDownListFor(m => m.Batch, Model.Batches, "SELECT BATCH",
                                              new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Batch, "", new { @class = "text-danger" })
                        </div>
                    </div>



                    <div class="wizard col-sm-12">
                        <div class="pull-right" style="padding: 5px;">
                            @*<button id="btnClear" onclick="Clear()" class="btn btn-default">Clear</button>*@
                            <button type="submit" id="BtnGenerate" class="btn btn-success btn-default">Generate Report</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>

        </div>
    </section>

</section>
