@model MYFEELIB.Entities.RequireElements
@{
    ViewData["Title"] = "Attendance Register";
}

@*<style>
        table#DataStudentTable {
            max-width: 100%;
            table-layout: fixed;
            margin: auto;
        }

            table#DataStudentTable th, td {
                padding: 2px 4px;
                border: 1px solid #ddd;
            }

            table#DataStudentTable thead, tfoot {
                background: #58bee0;
                color: #eaebec;
                display: table;
                width: 100%;
                width: calc(100% - 18px);
            }

            table#DataStudentTable tbody {
                min-height: 0px;
                max-height: 300px;
                overflow: auto;
                overflow-x: hidden;
                display: block;
                width: 100%;
            }

                table#DataStudentTable tbody tr {
                    display: table;
                    width: 100%;
                    table-layout: fixed;
                }

        table#DataStudentTable, td, tr {
            min-height: -1px;
            max-height: 300px;
        }


        /*.filter-table .quick {
            margin-left: 0.5em;
            font-size: 0.8em;
            text-decoration: none;
        }



        .fitler-table .quick:hover {
            text-decoration: underline;
        }



        td.alt {
            background-color: #ffc;
            background-color: rgba(255, 255, 0, 0.2);
        }*/
    </style>*@


<section id="" class="animated fadeInUp">
    <section class="fuelux" style="margin: 50px 50px;">

        <div class="step-content" style="margin-bottom: 0px; background: #fff; text-align: center; border-top: 1px solid #D4D4D4;">
            <div class="step-pane active" id="step1">

                <div class="col-md-offset-0 preauth_font  ">
                    <div class="clear" style="clear: both;"></div>

                    <div class="form-group col-sm-12 col-md-6 col-lg-4 text-left ">
                        @Html.LabelFor(m => m.ClassType, new { @class = "col-sm-12 control-label" })
                        <div class="col-sm-12">
                            @Html.DropDownListFor(m => m.ClassType, Model.ClassTypes, "SELECT CLASS TYPE",
                          new { @class = "form-control" })
                        </div>
                    </div>


                    <div class="form-group col-sm-12 col-md-6 col-lg-4 text-left ">
                        @Html.LabelFor(m => m.EntryDate, new { @class = "col-sm-12 control-label" })
                        <div class="col-sm-12">
                            @Html.TextBoxFor(m => m.EntryDate, "{0:yyyy-MM-dd}", new { @class = "form-control", @type = "date", @max = @DateTime.Now.ToString("yyyy-MM-dd") })
                            @Html.ValidationMessageFor(m => m.EntryDate, "", new { @class = "text-danger" })

                        </div>
                    </div>

                    <div class="form-group col-sm-12 col-md-6 col-lg-4 text-left ">
                        @Html.LabelFor(m => m.Program, new { @class = "col-sm-12 control-label" })
                        <div class="col-sm-12">
                            @Html.DropDownListFor(m => m.Program, Model.Programs, "SELECT PROGRAM",
                                              new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Program, "", new { @class = "text-danger" })
                        </div>
                    </div>


                    <div class="form-group col-sm-12 col-md-6 col-lg-4 text-left ">
                        @Html.LabelFor(m => m.Course, new { @class = "col-sm-12 control-label" })
                        <div class="col-sm-12">
                            @Html.DropDownListFor(m => m.Course, Model.Courses, "SELECT COURSE",
                                              new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Course, "", new { @class = "text-danger" })
                        </div>
                    </div>


                    <div class="form-group col-sm-12 col-md-6 col-lg-4 text-left ">
                        @Html.LabelFor(m => m.Section, new { @class = "col-sm-12 control-label" })
                        <div class="col-sm-12">
                            @Html.DropDownListFor(m => m.Section, Model.Sections, "SELECT SECTION",
                                              new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Section, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group col-sm-12 col-md-6 col-lg-4 text-left ">
                        @Html.LabelFor(m => m.Year, new { @class = "col-sm-12 control-label" })
                        <div class="col-sm-12">
                            @Html.DropDownListFor(m => m.Year, Model.Years, "SELECT YEAR",
                                              new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Year, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group col-sm-12 col-md-6 col-lg-4 text-left ">
                        @Html.LabelFor(m => m.Semester, new { @class = "col-sm-12 control-label" })
                        <div class="col-sm-12">
                            @Html.DropDownListFor(m => m.Semester, Model.Semesters, "SELECT SEMESTER",
                                              new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Semester, "", new { @class = "text-danger" })
                        </div>
                    </div>






                    <div class="form-group col-sm-12 col-md-6 col-lg-4 text-left ">
                        @Html.LabelFor(m => m.week, new { @class = "col-sm-12 control-label" })
                        <div class="col-sm-12">
                            @Html.DropDownListFor(m => m.week, Model.weeks, "SELECT WEEK",
                          new { @class = "form-control" })

                        </div>
                    </div>



                    <div class="form-group col-sm-12 col-md-6 col-lg-4 text-left ">

                        @Html.LabelFor(m => m.subject, new { @class = "col-sm-12 control-label" })
                        <div class="col-sm-12">
                            @Html.DropDownListFor(m => m.subject, Model.subjects, "SELECT SUBJECTS",
                          new { @class = "form-control" })

                        </div>
                    </div>

                    <div class="form-group col-sm-12 col-md-6 col-lg-4 text-left ">
                        @Html.LabelFor(m => m.Period, new { @class = "col-sm-12 control-label" })
                        <div class="col-sm-12">
                            @Html.DropDownListFor(m => m.Period, Model.Periods, "SELECT FACULTY",
                          new { @class = "form-control" })

                        </div>
                    </div>


                    <div class="form-group col-sm-12 col-md-6 col-lg-4 text-left ">

                        @Html.LabelFor(m => m.Faculty1, new { @class = "col-sm-12 control-label" })
                        <div class="col-sm-12">
                            @Html.DropDownListFor(m => m.Faculty1, Model.Faculties1, "SELECT FACULTY",
                          new { @class = "form-control" })

                        </div>
                    </div>






                    <div class="form-group col-sm-12 col-md-6 col-lg-4 text-left ">


                        <div class="col-sm-12">
                            <input type="hidden" id="TimeId" name="TimeId" value="">
                        </div>
                    </div>





                    <div class="clearfix"></div>
                    <div align="center" style="width :100%">
                        @*<input type='hidden' id='fee_WV' name='fee_WV' value=''>*@
                        <table id="DataTable" style="width:100%;" class="table table-bordered">
                            <thead>

                            </thead>
                            <tbody></tbody>
                            <tfoot></tfoot>
                        </table>

                    </div>



                    <div class="clearfix"></div>
                    <div align="center" style="width :100%">
                        <table id="DataStudentTable" style="width:100%;" class="table table-bordered">
                            <thead>

                            </thead>
                            <tbody></tbody>
                            <tfoot></tfoot>
                        </table>

                    </div>





                    <div class="wizard col-sm-12">
                        <div class="pull-right" style="padding: 5px;">

                            <button type="submit" id="SaveAll" onclick="return confirm('Are you sure?')" class="btn btn-success btn-default">Submit</button>
                        </div>
                    </div>

                </div>



            </div>
            <div class="clearfix"></div>

        </div>

        <script>

            $(function () {

                $('#Program').change(function () {
                    $("#DataStudentTable tr").remove();
                    $("#DataTable tr").remove();
                    var id = $("#Program :selected").val();
                    if (id != "") {
                        $.ajax({
                            type: "GET",
                            contentType: "application/json; charset=utf-8",
                            url: '@Url.Action("FillCourse", "Enrollment")',
                            data: { "PId": id },
                            dataType: "json",
                            beforeSend: function () {
                                //alert(id);
                            },
                            success: function (data) {
                                var items = "";
                                $.each(data, function (i, Course) {
                                    items += "<option value='" + Course.Value + "'>" + Course.Text + "</option>";
                                });
                                $('#Course').html(items);

                            },
                            error: function (result) {

                                alert('Service call failed: ' + result.status + ' Type :' + result.statusText);
                            }
                        });
                    }
                    else {
                        var items = '<option value="">Select</option>';
                        $('#Course').html(items);
                    }
                });

            });


            $(function () {

                $('#Course').change(function () {
                    $("#DataStudentTable tr").remove();
                    $("#DataTable tr").remove();
                    var id = $("#Course :selected").val();
                    if (id != "") {
                        $.ajax({
                            type: "GET",
                            contentType: "application/json; charset=utf-8",
                            url: '@Url.Action("FillSection", "Enrollment")',
                            data: { "CId": id },
                            dataType: "json",
                            beforeSend: function () {
                                //alert(id);
                            },
                            success: function (data) {
                                var items = "";
                                $.each(data, function (i, Section) {
                                    items += "<option value='" + Section.Value + "'>" + Section.Text + "</option>";
                                });
                                $('#Section').html(items);

                            },
                            error: function (result) {

                                alert('Service call failed: ' + result.status + ' Type :' + result.statusText);
                            }
                        });
                    }
                    else {
                        var items = '<option value="">Select</option>';
                        $('#Section').html(items);
                    }
                });

            });


            $(function () {

                $('#Section').change(function () {
                    $("#DataStudentTable tr").remove();
                    $("#DataTable tr").remove();
                    var id = $("#Program :selected").val();
                    if (id != "") {
                        $.ajax({
                            type: "GET",
                            contentType: "application/json; charset=utf-8",
                            url: '@Url.Action("YearsList", "Academic")',
                            data: { "PId": id },
                            dataType: "json",
                            beforeSend: function () {
                                //alert(id);
                            },
                            success: function (data) {
                                var items = "";
                                $.each(data, function (i, yr) {
                                    items += "<option value='" + yr.Value + "'>" + yr.Text + "</option>";
                                });
                                $('#Year').html(items);

                            },
                            error: function (result) {

                                alert('Service call failed: ' + result.status + ' Type :' + result.statusText);
                            }
                        });
                    }
                    else {
                        var items = '<option value="">Select</option>';
                        $('#Year').html(items);
                    }
                });

            });

            $(function () {

                $('#Year').change(function () {
                    $("#DataStudentTable tr").remove();
                    $("#DataTable tr").remove();
                    var id = $("#Year :selected").val();
                    if (id != "") {
                        $.ajax({
                            type: "GET",
                            contentType: "application/json; charset=utf-8",
                            url: '@Url.Action("SemesterList", "Academic")',
                            data: { "YId": id },
                            dataType: "json",
                            beforeSend: function () {
                                //alert(id);
                            },
                            success: function (data) {
                                var items = "";
                                $.each(data, function (i, yr) {
                                    items += "<option value='" + yr.Value + "'>" + yr.Text + "</option>";
                                });
                                $('#Semester').html(items);

                            },
                            error: function (result) {

                                alert('Service call failed: ' + result.status + ' Type :' + result.statusText);
                            }
                        });
                    }
                    else {
                        var items = '<option value="">Select</option>';
                        $('#Semester').html(items);
                    }
                });

            });

            $(function () {

                $('#week').change(function () {
                    $("#DataStudentTable tr").remove();
                    $("#DataTable tr").remove();
                    var id = $("#Semester :selected").val() + '/' + $("#Section :selected").val() + '/' + $("#week :selected").val();
                    if (id != "") {
                        $.ajax({
                            type: "GET",
                            contentType: "application/json; charset=utf-8",
                            url: '@Url.Action("Fill_Attendance_Subject", "Academic")',
                            data: { "Prm": id },
                            dataType: "json",
                            beforeSend: function () {
                                //alert(id);
                            },
                            success: function (data) {
                                var items = "";
                                $.each(data, function (i, yr) {
                                    items += "<option value='" + yr.Value + "'>" + yr.Text + "</option>";
                                });
                                $('#subject').html(items);

                            },
                            error: function (result) {

                                alert('Service call failed: ' + result.status + ' Type :' + result.statusText);
                            }
                        });
                    }
                    else {
                        var items = '<option value="">Select</option>';
                        $('#subject').html(items);
                    }
                });

            });

            $(function () {

                $('#subject').change(function () {
                    $("#DataStudentTable tr").remove();
                    $("#DataTable tr").remove();
                    var id = $("#subject :selected").val() + '/' + $("#Section :selected").val() + '/' + $("#week :selected").val() + '/' + $("#Course :selected").val();
                    if (id != "") {
                        $.ajax({
                            type: "GET",
                            contentType: "application/json; charset=utf-8",
                            url: '@Url.Action("Fill_Attendance_Period", "Academic")',
                            data: { "Prm": id },
                            dataType: "json",
                            beforeSend: function () {
                                //alert(id);
                            },
                            success: function (data) {
                                var items = "";
                                $.each(data, function (i, yr) {
                                    items += "<option value='" + yr.Value + "'>" + yr.Text + "</option>";
                                });
                                $('#Period').html(items);

                            },
                            error: function (result) {

                                alert('Service call failed: ' + result.status + ' Type :' + result.statusText);
                            }
                        });
                    }
                    else {
                        var items = '<option value="">Select</option>';
                        $('#Period').html(items);
                    }
                });

            });

            $(function () {

                $('#Period').change(function () {
                    $("#DataStudentTable tr").remove();
                    $("#DataTable tr").remove();
                    var id = $("#subject :selected").val() + '/' + $("#Section :selected").val() + '/' + $("#week :selected").val() + '/' + $("#Course :selected").val() + '/' + $("#Semester :selected").val() + '/' + $("#Period :selected").val();
                    if (id != "") {
                        $.ajax({
                            type: "GET",
                            contentType: "application/json; charset=utf-8",
                            url: '@Url.Action("Fill_Attendance_Employee", "Academic")',
                            data: { "Prm": id },
                            dataType: "json",
                            beforeSend: function () {
                                //alert(id);
                            },
                            success: function (data) {
                                var items = "";
                                $.each(data, function (i, yr) {
                                    items += "<option value='" + yr.Value + "'>" + yr.Text + "</option>";
                                });
                                $('#Faculty1').html(items);

                            },
                            error: function (result) {

                                alert('Service call failed: ' + result.status + ' Type :' + result.statusText);
                            }
                        });
                    }
                    else {
                        var items = '<option value="">Select</option>';
                        $('#Faculty1').html(items);
                    }
                });

            });

        </script>

        <script>
            function isNumber(evt) {
                evt = (evt) ? evt : window.event;
                var charCode = (evt.which) ? evt.which : evt.keyCode;
                if (charCode > 31 && (charCode < 48 || charCode > 57)) {
                    return false;
                }
                return true;
            }
        </script>
        <script type="text/jscript">
            function addDays(date, days) {
                var result = new Date(date);
                result.setDate(result.getDate() + days);
                return result;
            }

            function ToJavaScriptDate(value) {
                var pattern = /Date\(([^)]+)\)/;
                var results = pattern.exec(value);
                var dt = new Date(parseFloat(results[1]));
                return (dt.getMonth() + 1) + "/" + dt.getDate() + "/" + dt.getFullYear();

            }
        </script>
        <script>
            $(document).ready(function () {
                var now = new Date();
                var formattedFromDate = now.toISOString().substr(0, 10)
                $("#EntryDate").val(formattedFromDate);
                $("#SaveAll").hide();
            });

            $(document).on("click", "#checkBoxAll", function () {
                //alert("check All clicked!")

                var chkAll = this;

                //Fetch all row CheckBoxes in the Table.
                var chkRows = $("#DataStudentTable").find(".chkres");

                //Execute loop over the CheckBoxes and check and uncheck based on
                //checked status of Header row CheckBox.
                chkRows.each(function () {
                    $(this)[0].checked = chkAll.checked;
                });

                var sum = 0;
                var select = 0;
                if (chkAll.checked) {
                    $("#DataStudentTable TBODY TR").each(function () {
                        select += 1;
                    });
                }

                $('#TotSelect').val(select);


            });

            $(document).on("click", ".chkres", function () {
                var chkAll = $("#checkBoxAll");

                //By default set to Checked.
                chkAll.attr("checked", "checked");

                //Fetch all row CheckBoxes in the Table.
                var chkRows = $("#DataStudentTable").find(".chkres");

                //Execute loop over the CheckBoxes and if even one CheckBox
                //is unchecked then Uncheck the Header CheckBox.
                chkRows.each(function () {
                    if (!$(this).is(":checked")) {
                        chkAll.removeAttr("checked", "checked");
                        return;
                    }
                });

                var sum = 0;
                var select = 0;
                $('tr').find('.chkres').each(function () {

                    if ($(this).is(":checked")) {
                        select += 1;
                    }

                });

                $('#TotSelect').val(select);


            });


            $(document).on('click', '.btnEdit', function () {
                $("#DataStudentTable tr").remove();

                var id = $(this).attr("data-value") + '/' + $("#Period :selected").val() + '/' + $("#EntryDate").val();
                if (id != "") {
                    $("#loaderDiv").show();
                    $.ajax({
                        type: "GET",
                        contentType: "application/json; charset=utf-8",
                        url: '@Url.Action("AttendanceStudentRecords", "Academic")',
                        data: { "Prm": id },
                        dataType: "json",
                        beforeSend: function () {

                        },
                        success: function (data) {
                            var markup = "<tr><th width='10%'><input type='checkbox' id='checkBoxAll' class='custom-checkbox' />Select All</th><th width='20%'>Roll No</th><th width='40%'>Name</th></tr>";
                            $("#DataStudentTable > thead").append(markup);

                            var select = 0;
                            $.each(data, function (i, Rec) {

                                if (Rec.AR == "P") {
                                    var markup = "<tr><td width='10%'><input type='checkbox' checked value='" + Rec.StudentId + "' class='chkres' name='StudentId'></td><td width='20%'>" + Rec.RollNo + "</td><td width='40%'>" + Rec.FullName + "</td></tr>";
                                    $("#DataStudentTable > tbody").append(markup);
                                    select = select + 1;
                                }
                                else {
                                    var markup = "<tr><td width='10%'><input type='checkbox'  value='" + Rec.StudentId + "' class='chkres' name='StudentId'></td><td width='20%'>" + Rec.RollNo + "</td><td width='40%'>" + Rec.FullName + "</td></tr>";
                                    $("#DataStudentTable > tbody").append(markup);
                                }

                            });

                            var markup = "<tr><td>Number Of Presented</td><td><input type='text' id='TotSelect' value='" + select + "' name='TotSelect' class='form-control' readonly/></td><td></td></tr>";
                            $("#DataStudentTable > tfoot").append(markup);

                            $("#loaderDiv").hide();
                            $("#SaveAll").show();
                        },
                        error: function (result) {

                            alert("Data Not Available check it !");
                        }
                    });

                }
                else {
                    $("#DataStudentTable tr").remove();
                }
                $("#loaderDiv").hide();

            });


            $(function () {
                $('#Faculty1').change(function () {
                    $("#DataTable tr").remove();
                    $("#loaderDiv").show();
                    var prm = $("#subject :selected").val() + '/' + $("#Section :selected").val() + '/' + $("#week :selected").val() + '/' + $("#Course :selected").val() + '/' + $("#Semester :selected").val() + '/' + $("#Period :selected").val() + '/' + $("#Faculty1 :selected").val();
                    var id = $("#Faculty1 :selected").val();
                    if (id != "") {

                        $.ajax({
                            type: "GET",
                            contentType: "application/json; charset=utf-8",
                            url: '@Url.Action("AttendanceRecords", "Academic")',
                            data: { "Prm": prm },
                            dataType: "json",
                            beforeSend: function () {

                            },
                            success: function (data) {
                                var markup = "<tr><th width='5%'>TId</th><th width='5%'>SId</th><th width='5%'>ProgramId</th><th width='5%'>CourseId</th><th width='5%' align='right'>SectionId</th><th align='right' width='5%'>YearId</th><th width='10%' align='right'>SemesterName</th><th width='10%' align='right'>IsGroupBased</th><th width='5%' align='right'>GId</th><th width='10%' align='right'>PName</th><th width='10%' align='right'>SubjectCode</th><th width='10%' align='right'>WeekName</th><th width='5%' align='right'>NOH</th><th width='10%' align='right'>Select</th></tr>";
                                $("#DataTable > thead").append(markup);
                                var markupfooter;
                                $.each(data, function (i, Rec) {

                                    var markup = "<tr><td >" + Rec.TId + "</td><td >" + Rec.SId + "</td><td >" + Rec.ProgramId + "</td><td >" + Rec.CourseId + "</td><td >" + Rec.SectionId + "</td><td >" + Rec.YearId + "</td><td >" + Rec.SemesterName + "</td><td >" + Rec.IsGroupBased + "</td><td >" + Rec.GId + "</td><td >" + Rec.PName + "</td><td >" + Rec.SubjectCode + "</td><td >" + Rec.WeekName + "</td><td >" + Rec.NOH + "</td><td><a data-value=" + Rec.TId + " href='javascript:void(0)' class='btnEdit'>ASheet</a></td></tr>";
                                    $("#DataTable > tbody").append(markup);
                                });

                            },
                            error: function (result) {
                                alert("Data Not Available check it !");
                            }
                        });
                    }
                    else {
                        $("#DataTable tr").remove();
                    }

                    $("#loaderDiv").hide();
                });

            });


        </script>
        <script type="text/jscript">


            $(document).on("click", "#SaveAll", function () {

                if ($("#Program :selected").val() == "") {
                    alert("Please Select Program !");
                    return;
                }
                if ($("#Course :selected").val() == "") {
                    alert("Please Select Program !");
                    return;
                }
                if ($("#Section :selected").val() == "") {
                    alert("Please Select Program !");
                    return;
                }
                if ($("#Year :selected").val() == "") {
                    alert("Please Select Program !");
                    return;
                }
                if ($("#Semester :selected").val() == "") {
                    alert("Please Select Program !");
                    return;
                }
                if ($("#subject :selected").val() == "") {
                    alert("Please Select Subject !");
                    return;
                }
                if ($("#Period :selected").val() == "") {
                    alert("Please Select Period !");
                    return;
                }
                if ($("#Faculty1 :selected").val() == "") {
                    alert("Please Select Faculty !");
                    return;
                }

                if ($("#EntryDate").val() == "") {
                    alert("Please Enter Attendance Date !");
                    return;
                }

                $("#loaderDiv").show();
                var Attendances = new Array();

                $('#DataStudentTable tr').find('.chkres').each(function () {
                    var req = {};
                    req.StudentId = $(this).closest("tr").find("TD").eq(0).find("input").val();
                    req.YearId = $("#Year :selected").val();
                    req.TId = $("#subject :selected").val();
                    req.PId = $("#Period :selected").val();
                    req.WId = $("#week :selected").val();
                    req.ClassType = $("#ClassType :selected").val();
                    req.EmployeeCode = $("#Faculty1 :selected").val();
                    req.todayDate = $("#EntryDate").val();
                    if ($(this).is(":checked")) {
                        req.AR = "P";
                    }
                    else {
                        req.AR = "A";
                    }
                    Attendances.push(req);
                });




                Attendances = JSON.stringify({ 'Attendances': Attendances });
                //Send the JSON array to Controller using AJAX.
                $.ajax({
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    url: '@Url.Action("AttendanceUpdate", "Academic")',
                    data: Attendances,
                    dataType: "json",
                    success: function (r) {

                        if (r == 0) {
                            alert(r + " Attendance record(s) Not Updated.");
                            return;
                            $("#loaderDiv").hide();
                        }
                        else {
                            alert(r + "Attendance record(s) Saved.");
                            $("#DataTable tr").remove();
                            $("#DataStudentTable tr").remove();
                            $("#Faculty1").val("");
                            $("#week").val("");
                            $("#subject").val("");
                            $("#Program").val("");
                            $("#Course").val("");
                            $("#Section").val("");
                            $("#Year").val("");
                            $("#Semester").val("");
                            $("#ClassType").val("");
                            $("#Period").val("");
                            var now = new Date();
                            var formattedFromDate = now.toISOString().substr(0, 10)
                            $("#EntryDate").val(formattedFromDate);

                            $("#SaveAll").hide();
                            $("#loaderDiv").hide();
                        }
                    }
                });
                $("#loaderDiv").hide();
            });
        </script>

    </section>

</section>