@model MYFEELIB.Entities.FinancialYearDates
@{
    ViewData["Title"] = "Fee Refund Mass Update";
}

<style>
    table {
        max-width: 980px;
        table-layout: fixed;
        margin: auto;
    }

    th, td {
        padding: 2px 4px;
        border: 1px solid #ddd;
    }

    thead, tfoot {
        background: #58bee0;
        color: #eaebec;
        display: table;
        width: 100%;
        width: calc(100% - 18px);
    }

    tbody {
        min-height: 0px;
        max-height: 300px;
        overflow: auto;
        overflow-x: hidden;
        display: block;
        width: 100%;
    }

        tbody tr {
            display: table;
            width: 100%;
            table-layout: fixed;
        }

    table, td, tr {
        min-height: 0px;
        max-height: 300px;
    }


    /*.filter-table .quick {
        margin-left: 0.5em;
        font-size: 0.8em;
        text-decoration: none;
    }



    .fitler-table .quick:hover {
        text-decoration: underline;
    }



    td.alt {
        background-color: #ffc;
        background-color: rgba(255, 255, 0, 0.2);
    }*/
</style>



<script>
    function isNumber(evt) {
        evt = (evt) ? evt : window.event;
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57)) {
            return false;
        }
        return true;
    }
</script>
<script type="text/jscript">

    $(document).ready(function () {
        $("#SaveAll").hide();
        // $("#DataTable").filterTable();
    });




    $(document).on("click", "#checkBoxAll", function () {
        //alert("check All clicked!")

        var chkAll = this;

        //Fetch all row CheckBoxes in the Table.
        var chkRows = $("#DataTable").find(".chkres");

        //Execute loop over the CheckBoxes and check and uncheck based on
        //checked status of Header row CheckBox.
        chkRows.each(function () {
            $(this)[0].checked = chkAll.checked;
        });

        var sum = 0;
        var select = 0;
        if (chkAll.checked) {
            $("#DataTable TBODY TR").each(function () {
                var row = $(this);
                var rowfee = row.find("TD").eq(4).find("input").val();
                if (!isNaN(rowfee) && rowfee.length !== 0) {
                    sum += parseFloat(rowfee);
                    select += 1;
                }
            });
        }

        $('#TotSelect').val(select);
        $('#TotSum').val(sum);

    });


    $(document).on("click", ".chkres", function () {
        var chkAll = $("#checkBoxAll");

        //By default set to Checked.
        chkAll.attr("checked", "checked");

        //Fetch all row CheckBoxes in the Table.
        var chkRows = $("#DataTable").find(".chkres");

        //Execute loop over the CheckBoxes and if even one CheckBox
        //is unchecked then Uncheck the Header CheckBox.
        chkRows.each(function () {
            if (!$(this).is(":checked")) {
                chkAll.removeAttr("checked", "checked");
                return;
            }
        });

        var sum = 0;
        var select = 0;
        $('tr').find('.chkres').each(function () {

            if ($(this).is(":checked")) {
                var rowfee = $(this).closest("tr").find("TD").eq(4).find("input").val();

                if (!isNaN(rowfee) && rowfee.length !== 0) {
                    sum += parseFloat(rowfee);
                    select += 1;
                }
            }

        });

        $('#TotSelect').val(select);
        $('#TotSum').val(sum);

    });


    $(document).on("click", "#SaveAll", function () {

        debugger;

        var ChallanNo = $("#ChallanNo");
        var Refund_Date = $("#Refund_Date");
        var Totamount = $("#TotSum").val();

        if (ChallanNo.val() == "") {
            alert("Please Enter Challan / DD No !");
            return;
        }
        else if (Refund_Date.val() == "") {
            alert("Please Enter Payment Date !");
            return;
        }

        else if (Totamount == "") {

            alert("Please Select Students for Refund !")
            return;
        }
        else if (Totamount == "0") {

            alert("Please Select Students for Refund !")
            return;
        }


        $("#loaderDiv").show();




        var CheckAll = new Array();

        $('tr').find('.chkres').each(function () {

            if ($(this).is(":checked")) {

                var req = {};
                req.StudentId = $(this).closest("tr").find("TD").eq(0).find("input").val();
                req.Year = $(this).closest("tr").find('.combat').text();
                req.Amount = $(this).closest("tr").find("TD").eq(4).find("input").val();
                req.ChallanNo = $("#ChallanNo").val();
                req.ChallanDate = $("#Refund_Date").val();
                CheckAll.push(req);
            }

        });




        CheckAll = JSON.stringify({ 'CheckAll': CheckAll });

        //Send the JSON array to Controller using AJAX.
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: '@Url.Action("InsertRefund", "Academic")',
            data: CheckAll,
            dataType: "json",
            success: function (r) {

                if (r == 0) {
                    alert(r + " record(s) Not Refunded.");
                    return;
                }
                else {
                    alert(r + " record(s) Refunded.");
                    $("#DataTable tr").remove();
                    $("#Status").val("");
                    $("#loaderDiv").hide();
                    $("#SaveAll").hide();
                }


            }
        });
    });





    $(function () {

        $('#Batch').change(function () {
            //  debugger;
            var id = $("#Batch :selected").val();
            if (id != "") {
                $.ajax({
                    type: "GET",
                    contentType: "application/json; charset=utf-8",
                    url: '@Url.Action("FillYears", "Academic")',
                    data: { "Batch": id },
                    dataType: "json",
                    beforeSend: function () {
                        //alert(id);
                    },
                    success: function (data) {
                        var items = "";
                        $.each(data, function (i, yr) {
                            items += "<option value='" + yr.Value + "'>" + yr.Text + "</option>";
                        });
                        $('#Year').html(items);

                    },
                    error: function (result) {

                        alert('Service call failed: ' + result.status + ' Type :' + result.statusText);
                    }
                });
            }
            else {
                var items = '<option value="">Select</option>';
                $('#Year').html(items);
            }
        });

    });

    $(function () {

        $('#Program').change(function () {
            //  debugger;
            var id = $("#Program :selected").val();
            if (id != "") {
                $.ajax({
                    type: "GET",
                    contentType: "application/json; charset=utf-8",
                    url: '@Url.Action("FillCourse", "Academic")',
                    data: { "PId": id },
                    dataType: "json",
                    beforeSend: function () {
                        //alert(id);
                    },
                    success: function (data) {
                        var items = "";
                        $.each(data, function (i, Course) {
                            items += "<option value='" + Course.Value + "'>" + Course.Text + "</option>";
                        });
                        $('#Course').html(items);

                    },
                    error: function (result) {

                        alert('Service call failed: ' + result.status + ' Type :' + result.statusText);
                    }
                });
            }
            else {
                var items = '<option value="">Select</option>';
                $('#Course').html(items);
            }
        });

    });


    $(function () {

        $('#Status').change(function () {
            //  debugger;
            $("#DataTable tr").remove();


            //if ($("#Batch :selected").val() == "") {
            //    alert("Please Select Batch !");
            //    $("#DueFrom").val("");
            //    return;
            //}
            //else if ($("#Year :selected").val() == "") {
            //    alert("Please Select Year !");
            //    $("#DueFrom").val("");
            //    return;
            //}
            //else if ($("#Program :selected").val() == "") {
            //    alert("Please Select Program !");
            //    $("#DueFrom").val("");
            //    return;
            //}
            //else if ($("#Course :selected").val() == "") {
            //    alert("Please Select Course !");
            //    $("#DueFrom").val("");
            //    return;
            //}
            //else

            if ($("#Status :selected").val() == "") {
                alert("Please Select Status !");
                return;
            }


            if ($("#Status :selected").val() != "") {
                $("#loaderDiv").show();
            }


            var id = $("#Status :selected").val();
            var Params = new Array();
            var req = {};

            //req.Batch = $("#Batch :selected").val();
            //req.Year = $("#Year :selected").val();
            //req.Program = $("#Program :selected").val();
            //req.Course = $("#Course :selected").val();
            //req.Status = $("#Status :selected").val();
            //req.DueFrom = $("#DueFrom :selected").val();

            req.FromDate = $("#FromDate").val();
            req.ToDate = $("#ToDate").val();
            req.Status = id;





            Params.push(req);

            Params = JSON.stringify({ 'Params': Params });

            if (id != "") {
                $.ajax({
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    url: '@Url.Action("FillRefundFrom", "Academic")',
                    data: Params,
                    dataType: "json",
                    beforeSend: function () {
                        //alert(id);
                    },
                    success: function (data) {

                        var markup = "<tr><th width='10%'><input type='checkbox' id='checkBoxAll' class='custom-checkbox' />Select All</th><th width='20%'>Roll No</th><th width='40%'>Name</th><th width='10%'>YearId Id</th><th width='20%'>Refund Amount</th></tr>";
                        $("table thead").append(markup);

                        $.each(data, function (i, Rec) {

                            var markup = "<tr><td width='10%'><input type='checkbox' value='" + Rec.StudentId + "' class='chkres' name='StudentId'></td><td width='20%'>" + Rec.RollNo + "</td><td width='40%'>" + Rec.Name + "</td><td width='10%' class='combat'>" + Rec.Year + "</td><td width='20%'><input type='text' id='DueVal' value='" + Rec.Amount + "' name='RefundVal' class='form-control'   onkeypress='return isNumber(event)' /></td></tr>";
                            $("table tbody").append(markup);

                        });

                        var markup = "<tr><td>Number Of Rows Selected</td><td><input type='text' id='TotSelect' name='TotSelect' class='form-control' readonly/></td><td>Total Amount</td><td><input type='text' id='TotSum' name='TotSum' class='form-control' readonly/></td></tr>";
                        $("table tfoot").append(markup);

                        $("#SaveAll").show();
                        $("#loaderDiv").hide();

                    },
                    error: function (result) {

                        // alert('Data Not Available:' + result.status + ' Type :' + result.statusText);
                        alert('Data Not Available !');
                        $("#SaveAll").hide();
                        $("#loaderDiv").hide();
                    }
                });
            }
            else {
                //var items = '<option value="">Select</option>';
                //$('#Course').html(items);
            }
        });

    });





    $(function () {
        $("#PaymentDate").blur(function () {

            var dtmin = "@Session["FD"]";
            var dtmax = "@Session["ED"]";
            var PaymentDate = $("#PaymentDate").val();

            if (!(dtmin <= PaymentDate && dtmax >= PaymentDate)) {
                alert("Payment Date should be with in financial Period !");
                $("#PaymentDate").val("");

            }


        });
    })




</script>













<section id="" class="animated fadeInUp">
    <section class="fuelux" style="border: 14px solid #57bee0; margin: 50px 50px;">



        <div class="step-content" style="margin-bottom: 0px; background: #fff; text-align: center; border-top: 1px solid #D4D4D4;">
            <div class="step-pane active" id="step1">

                <div class="col-md-offset-1 col-sm-12 col-md-9 col-lg-9 preauth_font  ">
                    <div class="clear" style="clear: both;"></div>





                    <div class="form-group col-sm-12 col-md-12 col-lg-12 text-left ">
                        @Html.LabelFor(m => m.FromDate, new { @class = "col-sm-6 control-label" })
                        <div class="col-sm-6">
                            @Html.TextBoxFor(m => m.FromDate, "{0:yyyy-MM-dd}", new { @class = "form-control", @type = "date" })
                            @Html.ValidationMessageFor(m => m.FromDate, "", new { @class = "text-danger" })

                        </div>
                    </div>

                    <div class="form-group col-sm-12 col-md-12 col-lg-12 text-left ">
                        @Html.LabelFor(m => m.ToDate, new { @class = "col-sm-6 control-label" })
                        <div class="col-sm-6">

                            @Html.TextBoxFor(m => m.ToDate, "{0:yyyy-MM-dd}", new { @class = "form-control", @type = "date" })
                            @Html.ValidationMessageFor(model => model.ToDate, "", new { @class = "text-danger" })

                        </div>
                    </div>

                    <div class="form-group col-sm-12 col-md-12 col-lg-12 text-left ">
                        @Html.LabelFor(m => m.Status, new { @class = "col-sm-6 control-label" })
                        <div class="col-sm-6">
                            @Html.DropDownListFor(m => m.Status, Model.Statuses, "SELECT",
                                              new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Status, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group col-sm-12 col-md-12 col-lg-12 text-left">
                        @Html.LabelFor(m => m.ChallanNo, new { @class = "col-md-6 control-label" })
                        <div class="col-sm-6">
                            @Html.TextBoxFor(m => m.ChallanNo, new { @class = "form-control", placeholder = "Challan / DD / FT Number" })

                            @Html.ValidationMessageFor(m => m.ChallanNo, "", new { @class = "text-danger" })

                        </div>
                    </div>

                    <div class="form-group col-sm-12 col-md-12 col-lg-12 text-left ">
                        @Html.LabelFor(m => m.Refund_Date, new { @class = "col-sm-6 control-label" })
                        <div class="col-sm-6">
                            @Html.TextBoxFor(m => m.Refund_Date, "{0:yyyy-MM-dd}", new { @class = "form-control", @type = "date", @min = @Session["FD"], @max = @Session["ED"] })
                            @Html.ValidationMessageFor(m => m.Refund_Date, "", new { @class = "text-danger" })

                        </div>
                    </div>







                </div>


                <div align="center" id="dvTable">

                    <table id="DataTable" style="width:100%;" class="table table-bordered">
                        <thead>

                        </thead>
                        <tbody></tbody>
                        <tfoot></tfoot>
                    </table>

                </div>

                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>

        </div>
        <div id="MyWizard" class="wizard" style=" text-align :right ">

            <button type="submit" id="SaveAll" value="Save" class="btn-default round" onclick="return confirm('Are you sure?')">Submit</button>
        </div>






    </section>

</section>
