@model MYFEELIB.Entities.CertificateMaster
@{
    ViewData["Title"] = "CertificateMaster";
}


<style>
    .hidetext {
        -webkit-text-security: disc; /* Default */
    }
</style>

<script>

    $(document).ready(function () {
      //  debugger;
        $.ajax({
            type: "GET",
            contentType: "application/json; charset=utf-8",
            url: '@Url.Action("CertificateMasterDetails", "Master")',
            dataType: "json",
            beforeSend: function () {

            },
            success: function (data) {

                var markup = "<tr><th width='5%'>S.No</th><th width='5%'>CertificateId</th><th width='8%'>CertificateName</th> <th align='right'></th></tr>";
                $("#DataTable").append(markup);
                var markupfooter;
                $.each(data, function (i, Rec) {
                    var markup = "<tr><td width='5%'>" + (i + 1) + "</td><td width='5%'>" + Rec.CertificateId + "</td><td width='5%' >" + Rec.CertificateName + "</td><td><a data-value=" + Rec.CertificateId + " href='javascript:void(0)' class='btnEdit'>Edit</a></td></tr>";
                    $("#DataTable").append(markup);

                });
            }
        });

    });

    $(document).on('click', '.btnEdit', function () {
       // debugger;
         var id = $(this).attr("data-value");
         $("#CertificateId").val(id);
         $("#CertificateId").prop("readonly", true);
         $("#CertificateName").val($(this).closest("tr").find('td:eq(2)').text());
    });

    var CertificateSave = function () {

        var data = $("#MyCertificateForm").serialize();

        var CertificateId = $("#CertificateId").val();
        var CertificateName = $("#CertificateName").val();

        if (CertificateId == "") {
            alert("Enter CertificateId !");
            $("#CertificateId").focus();
            return false;
        }
        if (CertificateName == "") {
            alert("Select CertificateName !");
            $("#CertificateName").focus();
            return false;
        }

        $.ajax({
            type: "POST",
            url: '@Url.Action("CertificateMasterSave", "Master")',
            data: data,
            success: function (r) {

                if (r == "Error") {

                    alert("Certificate Not Saved !");

                }
                else {
                    alert("Certificate Saved Successfully !");
                    $("#CertificateId").val("");
                    $("#CertificateName").val("");
                }
            }
        });
    }

    var Clear = function () {
        $("#CertificateId").val("");
        $("#CertificateName").val("");
        $(".text-danger field-validation-error").empty();
    }



</script>
<section id="" class="animated fadeInUp">
    <section class="fuelux" style=" margin: 50px 50px;">

        <form id="MyCertificateForm">
            <div class="step-content" style="margin-bottom: 0px; background: #fff; text-align: center; border-top: 1px solid #D4D4D4;">


                <div class="step-pane active" id="step1">

                    <div class="col-md-offset-0  preauth_font">
                        <div class="clear" style="clear: both;"></div>




                        <div class="form-group col-sm-12 col-md-6 col-lg-3 text-left ">
                            @Html.LabelFor(m => m.CertificateId, new { @class = "control-label" })
                            <div class="">
                                @Html.TextBoxFor(m => m.CertificateId, new { @class = "form-control ucase" })
                                @Html.ValidationMessageFor(m => m.CertificateId, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group col-sm-12 col-md-6 col-lg-3 text-left ">
                            @Html.LabelFor(m => m.CertificateName, new { @class = "control-label" })
                            <div class="">
                                @Html.TextBoxFor(m => m.CertificateName, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.CertificateName, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="wizard col-sm-12">
                            <div class="pull-right" style="padding: 5px;">
                                <button id="btnClear" onclick="Clear()" class="btn btn-default">Clear</button>
                                <button type="submit" id="btnsubmit" onclick="CertificateSave()" class="btn btn-success btn-default">Submit</button>
                            </div>
                        </div>

                    </div>

                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
        </form>


        <div align="center">
            <table id="DataTable" style="width:100%;" class="table table-bordered">
                <thead>

                </thead>
                <tbody></tbody>
                <tfoot></tfoot>
            </table>

        </div>

    </section>
</section>
